<div class="extraParametersStyle" ng-show="vm.otherParams">
        <div class="extraParametersTable">

            <div class="tempTitle">
                <div class="extraPropCountrName">
                    {{vm.otherParams.sys.country}},{{vm.otherParams.name}}
                </div>

                <div class="extraPropCountrTemp">
                    {{(vm.otherParams.main.temp-273).toFixed(1)}} °C
                </div>
            </div>

            <geo-loc-weath-direct></geo-loc-weath-direct>
        </div>

        <div id="containerDiogram"></div>
</div>


<div class="searchCityBig" >
    <form ng-submit="search()" id="searchC">
        <input ng-model="searchTerm" placeholder="Enter city" class="searchCity">
        <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>

<div ng-if="vm.count">
    Not found
</div>

<div class="searchInfo">
    <div ng-repeat="city in vm.cities">
        <div class="flexDirect">
            <search-output-direct></search-output-direct>

            <add-delete-button-direct></add-delete-button-direct>
        </div>

    </div>

</div>















<!--
<div>
    &lt;!&ndash;<search-output-direct ng-repeat="city in vm.cities" class="searchInfo"></search-output-direct>&ndash;&gt;
    <search-output-direct>
    </search-output-direct>

</div>
-->
