<h2 class="colortext">Weather in your city</h2>

<hr class="justLine">



    <div class="extraParametersStyle">
        <div class="extraParametersTable">

            <div class="tempTitle">
                <div class="extraPropCountrName">
                    {{vm.otherParams.sys.country}},{{vm.otherParams.name}}
                </div>

                <div class="extraPropCountrTemp">
                    {{(vm.otherParams.main.temp-273).toFixed(1)}} °C
                </div>
            </div>

            <geo-loc-weath-direct></geo-loc-weath-direct>
        </div>

        <!--<div class="tempDiagram extraParametersTable">
            <canvas id="bar" style="height: 300px;width: 500px">
            </canvas>
        </div>-->

        <div id="containerDiogram" ></div>

    </div>

    <div  class="tempTo3Hours">
        <div ng-repeat="tempDate in vm.listTemp">
            <!--<p>{{tempDate.dt_txt}} : {{tempDate.dt}}</p>-->
        </div>
    </div>






