<h2 class="colortext">Weather in your city</h2>

<hr class="justLine">

    <div class="extraParametersStyle">
        <div class="extraParametersTable">

            <div class="tempTitle">
                <div class="extraPropCountrName">
                    {{vm.otherParams.sys.country}},{{vm.otherParams.name}}
                </div>

                <div class="extraPropCountrTemp">
                    {{(vm.otherParams.main.temp-273).toFixed(1)}} °C
                </div>
            </div>

            <geo-loc-weath-direct></geo-loc-weath-direct>
        </div>

        <chart-direct id="chart" obj="vm.obj"></chart-direct>

    </div>









