<h2 ng-show="vm.citiesCollection.length" class="colortext">My cities</h2>

<h2 ng-hide="vm.citiesCollection.length" class="colortext">No selected cities</h2>
<!--<i class="wi {{vm.wow}}"></i>-->


<!--<div class="globalFlexContainer">-->
    <dib class="searchInfo">

        <div ng-repeat="city in vm.list">

            <div ng-show="vm.citiesCollection.includes(city.id)">
                <!--<hr class="justLine">-->

                <div class="flexDirect">

                    <search-output-direct></search-output-direct>

                    <add-delete-button-direct></add-delete-button-direct>
                </div>
            </div>


        </div>

    </dib>
<!--</div>-->


